* {
  font-family: arial, sans-serif;
  line-height: 2;
  color: #3a3a3a;
  box-sizing: border-box;

}

header {
  background-color: #2c99b6;
  color: white;
  padding: 1rem;

}

nav {
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
}

a {
  color: #2c99b6;
}

.content-box {
  float: right;
  padding-left: 5rem;
  padding-bottom: 5rem;
  width: 25%
}

.headerh1 {
  font-size: 5em;
  color: white;
}

.headerh2 {
  font-size: 3.5em;
  color: white;
  font-style: italic;
  line-height: .5;
}

.nav {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1.1em;
}

#open {
  color: #2c99b6;
  font-size: 1.75rem;
}

footer {
  height: 33rem;
  background-color: #3a3a3a;
  padding: 10rem;

}

.footer {
  color: white;
  font-weight: bold;
  text-align: left;

}

.footernav {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}
